body {
    background-color: snow;
}

.container {
    display:flex;

}
.item {
    flex-grow: 1;
    height: 40px;
    border-radius: 5px;
    background-color: plum;
    border: 1px;
    box-sizing: border-box;
    box-shadow: 0 2px 2px rgba(0, 90, 250, 0.05), 0 4px 4px rgba(0, 90, 250, 0.05), 0 8px 8px rgba(0, 90, 250, 0.05), 0 16px 16px rgba(0, 90, 250, 0.05)

}

.item + .item {
    margin-left: 2%;
}




.footer {
    flex-grow: 1;
    background-color: plum;
    bottom: 0;
    left: 0;
}